<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/upload.css}" rel="stylesheet"></link>
    <title>Upload PDF</title>
</head>
<body>
<div class="container">
    <h2>Upload PDF to View</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="application/pdf" required>
        <button type="submit">Upload and View PDF</button>
    </form>
    <p th:if="${message}" th:text="${message}" class="message"></p>
</div>
</body>
</html>
